<div class="login-container">
  <div class="login-box">
    <h1 class="logo">Stranger<span class="logo-accent">Drug</span></h1>
    <h2 class="title">Registrarse</h2>

    <form class="login-form" (ngSubmit)="registrarme()">

      <div class="input-row">
        <div class="input-group">
          <input type="text" placeholder="Nombre" [(ngModel)]="nombre" name="nombre" required>
        </div>
      </div>

      <div class="input-group">
        <input type="email" placeholder="Correo electrónico" [(ngModel)]="correo" name="correo" required>
      </div>

      <div class="input-group">
        <input type="date" placeholder="Fecha de nacimiento" [(ngModel)]="fechaNacimiento" name="fechaNacimiento"
          required class="date-input">
      </div>

      <div class="input-group">
        <input [type]="mostrarContrasena ? 'text' : 'password'" placeholder="Contraseña" [(ngModel)]="contrasena"
          name="contrasena" required>
        <span class="password-toggle" (click)="toggleMostrarContrasena()">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
            <path
              d="M288 32c-80.8 0-161.7 13.9-241 41.5-6.8 2.5-12.7 8.3-15.3 15.3-2.6 7-1.5 14.5 3 20.3l37.3 48.2c8.9 11.4 22.3 17.5 36.5 17.5 2.5 0 5-.2 7.5-.7 13.9-2.9 27.9-5 42.1-6.4 121.2-11.4 245.9-11.4 367.1 0 14.2 1.4 28.2 3.5 42.1 6.4 2.5.5 5.1.7 7.5.7 14.2 0 27.6-6.1 36.5-17.5l37.3-48.2c4.5-5.8 5.6-13.3 3-20.3-2.6-7-8.5-12.8-15.3-15.3-79.3-27.6-160.2-41.5-241-41.5zm-192 64c3.4 1.1 6.8 2.2 10.3 3.3 118.8 34.3 234.3 34.3 353.1 0 3.5-1.1 6.9-2.2 10.3-3.3-69.6 15-139.8 23.4-210 23.4s-140.4-8.4-210-23.4zM288 288c-44.2 0-80 35.8-80 80s35.8 80 80 80 80-35.8 80-80-35.8-80-80-80zm0 128c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zM288 192c-56.9 0-112 7.7-160 21.8v22.2c0 53.6 43.1 96.6 96.7 96.7 5.2.1 10.4 0 15.5-.3 65-3.3 124.7-27.1 175.7-65.7V213.8c-48-14.1-103.1-21.8-160-21.8z" />
          </svg>
        </span>
      </div>

      <div class="input-group">
        <input [type]="mostrarConfirmarContrasena ? 'text' : 'password'" placeholder="Confirmar contraseña"
          [(ngModel)]="confirmarContrasena" name="confirmarContrasena" required>
        <span class="password-toggle" (click)="toggleMostrarConfirmarContrasena()">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
            <path
              d="M288 32c-80.8 0-161.7 13.9-241 41.5-6.8 2.5-12.7 8.3-15.3 15.3-2.6 7-1.5 14.5 3 20.3l37.3 48.2c8.9 11.4 22.3 17.5 36.5 17.5 2.5 0 5-.2 7.5-.7 13.9-2.9 27.9-5 42.1-6.4 121.2-11.4 245.9-11.4 367.1 0 14.2 1.4 28.2 3.5 42.1 6.4 2.5.5 5.1.7 7.5.7 14.2 0 27.6-6.1 36.5-17.5l37.3-48.2c4.5-5.8 5.6-13.3 3-20.3-2.6-7-8.5-12.8-15.3-15.3-79.3-27.6-160.2-41.5-241-41.5zm-192 64c3.4 1.1 6.8 2.2 10.3 3.3 118.8 34.3 234.3 34.3 353.1 0 3.5-1.1 6.9-2.2 10.3-3.3-69.6 15-139.8 23.4-210 23.4s-140.4-8.4-210-23.4zM288 288c-44.2 0-80 35.8-80 80s35.8 80 80 80 80-35.8 80-80-35.8-80-80-80zm0 128c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zM288 192c-56.9 0-112 7.7-160 21.8v22.2c0 53.6 43.1 96.6 96.7 96.7 5.2.1 10.4 0 15.5-.3 65-3.3 124.7-27.1 175.7-65.7V213.8c-48-14.1-103.1-21.8-160-21.8z" />
          </svg>
        </span>

      </div>

      <div class="input-terms">
        <input type="checkbox" id="terminos" [(ngModel)]="aceptaTerminos" name="aceptaTerminos">
        <a (click)="abrirModalTerminos()" class="create-link link-terminos">
          Acepto Términos y condiciones
        </a>
      </div>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

      <button type="submit" class="btn-acceder" [disabled]="!aceptaTerminos">Registrarme</button>
    </form>

    <p class="create-account">
      Ya tienes cuenta? <a [routerLink]="['/login']" class="create-link">Inicia sesión</a>
    </p>
  </div>

  <div class="modal-overlay" *ngIf="mostrarModalTerminos">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">📝 Términos y condiciones</h3>
        <button class="close-button" (click)="cerrarModalTerminos()">
          &times;
        </button>
      </div>

      <div class="modal-body">
        <div [innerHTML]="termsContent" class="markdown-content"></div>
      </div>

      <div class="modal-footer">
        <button class="btn-cerrar" (click)="cerrarModalTerminos()">Cerrar</button>
      </div>
    </div>
  </div>
</div>